
<table class="table table-bordered table-striped">
	<thead>
	<tr>
		 <th>Name</th>
		 <th>Age</th>
		 <th>Gender</th>
	 </thead>
 <tbody>
<% glads.each do |glad| %>
<tr>
  <td><%= glad.name %></td>
  <td><%= glad.age %></td>
  <td><%= glad.gender %></td>
 
  	</td>
</tr>
<% end %>
 </tbody>
</table>
