
<% glads.each do |glad| %>
  <h4><%= glad.name %></h3>
<h4></h3>
  <p>Age - <%= glad.age %></p>
  <p>Gender - <%= glad.gender %></p>
  	<p><a href="weapon/<%=glad.id%>">Weapon!</a></p>
==========================================
<% end %>